:root {
  --text1-light: #232a31;
  --text2-light: #464e56;
  --text3-light: #5b636a;
  --surface1-light: #fff;
  --surface2-light: #f0f3f5;
  --surface3-light: #fff;
  --surface4-light: #fff;
  --surface5-light: #f5f8fa;
  /* BORDER-RADIUS */
  --border-radius-sm: 0.125rem;
  --border-radius-md: 0.3rem;
  --border-radius-lg: 0.5rem;
  --border-radius-xl: 9999px;
  /* BORDER-RADIUS */

  /* BOX-SHADOW */
  --box-shadow-sm: rgba(0, 0, 0, 0.04) 0px 2px 4px;
  --box-shadow-md: rgb(0 0 0 / 2%) 0px 0px 10px 8px;
  --box-shadow-lg: rgb(0 0 0 / 40%) 0px 0px 50px 8px;
  /* BOX-SHADOW */

  /* COLOR */
  --grey: #9e9e9e;
  --grey-50: #fafafa;
  --grey-100: #f5f5f5;
  --grey-200: #eeeeee;
  --grey-300: #e0e0e0;
  --grey-400: #bdbdbd;
  --grey-500: #9e9e9e;
  --grey-600: #757575;
  --grey-700: #616161;
  --grey-800: #424242;
  --grey-900: #212121;

  --indigo-50: #e8eaf6;
  --indigo-75: #d7dbf4;
  --indigo-100: #8c9eff;
  --indigo-200: #536dfe;
  --indigo-400: #3d5afe;
  --indigo-700: #304ffe;

  --indigo-100-accent: #8c9eff;
  --indigo-200-accent: #536dfe;
  --indigo-400-accent: #3d5afe;
  --indigo-700-accent: #304ffe;
  /* COLOR */

  /* SPACES */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 36px;
  --space-xxl: 72px;
  /* SPACES */

  /* SIZES */
  --size-xxs: 8px;
  --size-xs: 10px;
  --size-sm: 12px;
  --size-md: 16px;
  --size-lg: 24px;
  --size-xl: 36px;
  --size-xxl: 72px;
  /* SIZES */

  /* FONT-SIZE */
  --font-size-xxxxl: 2.8rem;
  --font-size-xxxl: 2.25rem;
  --font-size-xxl: 1.5rem;
  --font-size-xl: 1.25rem;
  --font-size-lg: 1rem;
  --font-size-md: 0.875rem;
  --font-size-sm: 0.75rem;
  --font-size-xs: 0.6875rem;
  /* FONT-SIZE */

  --font-weight-light: 400;
  --font-weight-regular: 500;
  --font-weight-medium: 550;
  --font-weight-strong: 670;

  --line-height-tight: 1.15;
  --line-height-heading: 1.2;
  --line-height-caption: 1.3;
  --line-height-regular: 1.5;

  --input-size-md: 28px;
  --input-size-md: 32px;
  --input-size-lg: calc(var(--size-xl) + var(--space-sm));

  --transition-fast: 0.2s;
}
